<div class="col">
  <div class="card mb-1 col-md-3">
    <div class="card-body">
      <a routerLink="./book1">
      THE FELLOWSHIP OF THE RING Details
      </a>
    </div>
  </div>

  <div class="card mb-1 col-md-3">
    <div class="card-body">
      <a routerLink="./book2">
      THE RETURN OF THE KING
      </a>
    </div>
  </div>

  <div class="card mb-1 col-md-3">
    <div class="card-body">
      <a routerLink="./book3">
      Harry Potter and the Philosopher's Stone
      </a>
    </div>
  </div>

  <div class="card mb-1 col-md-3">
    <div class="card-body">
      <a routerLink="./book4">
      Harry Potter and the Chamber of Secrets
      </a>
    </div>
  </div>    
</div>

<div class="col mb-2">
  <router-outlet></router-outlet>
</div>